.print { 
  display: block; 
  font-family: sans-serif; 
}
.watermark { 
  background-color: wheat; 
  opacity: 0.25; 
  height: 100%; 
  width: 100%; 
  overflow: hidden; 
  position: absolute; 
  display: flex; 
  grid-gap: 8px; 
  flex-wrap: wrap;
}
.watermark p { 
  font-size: 12px; 
  font-weight: 300; 
  color: black; 
  line-height: 1px; 
}